/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background: #F1F1F1;
    font-family: "Raleway", sans-serif;
}

/* Header */
header {
    width: 100%;
    text-align: center;
    padding: 32px 0;
}
header h1 {
    text-transform: uppercase;
    padding: 10px;
    margin: 10px 0;
    font-weight: 600;
    font-size: 36px;
}
header p {
    font-size: 15px;
}
header p span {
    padding: 2px 8px;
    background: #000;
    color: #F1F1F1;
}

/* Main */
/* Layouts */
.box, .sm-box {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    background: #FFFFFF;
    color: #000;
    margin-bottom: 40px;
}

.content {
    width: 100%;
    padding: 15px 0;
    display: flex;
    margin: 0 auto;
}

/* Left Column */
.left_column {
    width: 67%;
    padding: 16px;
}

/* Article Box */
.article_bx {
    display: block;
}
.article_bx img {
    width: 100%;
}

/* Article Text Box */
.text_bx {
    padding: 15px;
}
.heading_title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 550;
}
.heading_desc {
    font-size: 17px;
    font-weight: 400;
    padding: 20px 0 30px;
}
.heading_desc span {
    color: rgb(175, 175, 175);
}
.article_text {
    font-size: 15px;
    line-height: 1.5;
}

/* Article Box Bottom */
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.btn {
    padding: 14px 24px;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 15px;
    background: #fff;
    border: 1px solid rgb(199, 199, 199);
    cursor: pointer;
}
.btn:hover {
    background: #CCCCCC;
}
.bottom p {
    font-weight: 600;
    margin-right: 13px;
}
.bottom p span {
    font-weight: 400;
    padding: 2px 8px;
    background: #000;
    color: #fff;
    margin: 0 10px;
}

/* Right Column */
.right_column {
    width: 33%;
    padding: 16px;
}

/* About Box */
.about img {
    width: 100%;
}
.about_desc {
    padding: 0 15px 15px;
}
.about .about_desc_title {
    padding: 15px 0 18px;
    font-weight: 600;
    font-size: 20px;
    background: #fff;
}
.about_desc p {
    font-size: 15px;
    line-height: 1.5;
}

/* Article Two */
.bottom p span {
    border-radius: 50%;
}

/* Popular Posts Feed */
.sm-box {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.055),
    0 1px 10px 0 rgba(0, 0, 0, 0.233);
}
.sm-box h3 {
    padding: 22px 16px;
    background: #F1F1F1;
    font-weight: 400;
    font-size: 20px;
}
.sm-box .item {
    display: flex;
    align-items: center;
    line-height: 1.4;
    padding: 16px 15px;
    border-bottom: 1px solid #CCCCCC;
}
.sm-box .item:hover {
    background: #CCCCCC;
}
.sm-box .item p {
    font-size: 18px;
}
.sm-box .item span {
    font-size: 15px;

}
.sm-box .item img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

/* Tags */
.tags_list {
    padding: 1px 15px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0;
}
.tags_list span {
    padding: 2px 8px;
    background: #F1F1F1;
    margin: 0px 0 17px 4px;
}
.tags_list > :first-child {
    background: #000;
    color: #fff;
    font-size: 15px;
}

/* Footer */
footer {
    background: #616161;
    padding: 32px 16px;
}
footer .btn {
    text-transform: initial;
    padding: 14px 24px;
    font-size: 15px;
    font-weight: 200;
    background: #000;
    color: #fff;
    border: none;
    margin-bottom: 20px;
}
footer .btn:hover {
    color: #000;
}
.disabled_btn {
    cursor: not-allowed;
    opacity: 30%;
}
footer p {
    color: #fff;
    margin: 15px 0;
    font-size: 15px;
}
footer p a {
    color: #fff;
}


/* Media Queries */
@media screen and (max-width: 770px) {
    .content {
        width: 100%;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .left_column {
        width: 100%;
        padding: 0 16px;
    }
    .right_column {
        width: 100%;
        padding: 0 16px;
    }

    .about_desc h3 {
        padding: 20px 0;
        background: #fff;
    }

    .popular_posts > :last-child {
        display: none;
    }   
}